{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block body %}

<link rel="stylesheet" href="{{ asset('css/register.css') }}">
<style>
    .form-check input:hover, .form-check label:hover {
        cursor: pointer;
    }
</style>

<div class="form-check form-switch">
  <input class="form-check-input {{ isStudentYet }}" type="checkbox" id="flexSwitchCheckDefault" {{ _checked }} {{ _disabled }}>
  <label class="form-check-label" for="flexSwitchCheckDefault">Je suis déjà étudiant, je souhaite faire une réorientation</label>
</div>

<div class="is-student-yet-form" style="display: none;">
    <p>Saisissez votre adresse email et on s'occupe du reste !</p>
    <form method="POST" class="email-form">
        <div class="mb-3">
            <input type="email" required name="_email" class="form-control" aria-describedby="emailHelp">
        </div>
        <input type="hidden" name="_hidden" value="email_hidden">
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>

{% if isEmailSuccess == true %}
    <div class="formations">
        <p>C'est parfait {{ firstname }}</p>
        <p>Veuillez choisir une formation</p>
        {% for faculty in faculties %}
            <div>
                <h3> {{ faculty.name }} </h3>
                {% for department in departments %}
                    {% if faculty.id == department.faculty.id %}
                        <div>
                            <strong><h6> {{ department.name }} </h6></strong>
                            {% for formation in formations %}
                                {% if department.id == formation.department.id %}
                                    <div>
                                        <span> {{ formation.name }} </span>
                                        {% for level in levels %}
                                            {% if formation.id == level.formation.id %}
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" value="{{ level.id }}" name="level" id="check-level{{ level.id }}" required>
                                                    <label class="form-check-label" for="check-level{{ level.id }}">
                                                        {{ level.name }}
                                                    </label>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        
        <div id="{{ levels|length }}" class="dive-form-file" style="display: none;">
            {{ form(form) }}
        </div>
        
        <a href="{{ path("register") }}"><button class="btn btn-danger">Annuler</button></a>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary validation-inscription">Valider</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="form-check form-switch">
  <input class="form-check-input is-not-student" type="checkbox" id="flexSwitchCheckDefault" {{ _disabled }}>
  <label class="form-check-label" for="flexSwitchCheckDefault">Je m'inscris pour la première fois</label>
</div>

<div id="{{ levels|length }}" class="dive-new-student" style="display: none;">
    <p>Veuillez choisir une formation</p>
    {% for faculty in faculties %}
        <div>
            <h3> {{ faculty.name }} </h3>
            {% for department in departments %}
                {% if faculty.id == department.faculty.id %}
                    <div>
                        <strong><h6> {{ department.name }} </h6></strong>
                        {% for formation in formations %}
                            {% if department.id == formation.department.id %}
                                <div>
                                    <span> {{ formation.name }} </span>
                                    {% for level in levels %}
                                        {% if formation.id == level.formation.id %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="{{ level.id }}" name="level" id="check-level_{{ level.id }}" required>
                                                <label class="form-check-label" for="check-level_{{ level.id }}">
                                                    {{ level.name }}
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    <div class="dive-form-inscription" style="display: none;">
        {{ form(_form) }}
        <a href="{{ path("register") }}"><button class="btn btn-danger">Annuler</button></a>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path("home") }}">Accueil</a>
  </div>
</nav>

<script src="{{ asset('js/register.js') }}"></script>
{% endblock %}