{% extends 'base.html.twig' %}
{% block title %}Tous les étudiants{% endblock %}
{% block body %}

{% for faculty in faculties %}
    <div>
        <h3> {{ faculty.name }} </h3>
        {% for department in departments %}
            {% if faculty.id == department.faculty.id %}
                <div>
                    <strong><h6> {{ department.name }} </h6></strong>
                    {% for formation in formations %}
                        {% if department.id == formation.department.id %}
                            <div>
                                <span> {{ formation.name }} </span>
                                {% for level in levels %}
                                    {% if formation.id == level.formation.id %}
                                        <span> {{ level.name }} </span>
                                        {% for student in students %}
                                            {% if level.id == student.level.id %}
                                                <span> {{ student.firstname }} </span>
                                                
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}

{# <div class="row">
    {% include 'admin/sidebar.html.twig' %}
    <div class="col-sm-9 dive-admin-right">
        <div class="dive-admin-content">
            <table>
                <tr>
                    <td><strong>Prénom</strong></td>
                    <td><strong>Nom</strong></td>
                    <td><strong>E-mail</strong></td>
                    <td><strong>Téléphone</strong></td>
                    <td><strong>Adresse</strong></td>
                    <td><strong>Faculté de référence</strong></td>
                    <td><strong>Actions</strong></td>
                </tr>
                {% for admin in admins %}
                    <tr>
                        <td>{{ admin.firstname }}</td>
                        <td>{{ admin.lastname }}</td>
                        <td>{{ admin.email }}</td>
                        <td>{{ admin.phone }}</td>
                        <td>{{ admin.address }}</td>
                        <td>
                            {% if admin.faculty %}
                                {{ admin.faculty }}
                            {% else %}
                                Pas de faculté de référence
                            {% endif %}
                        </td>
                        <td><a href="#"><button class="btn btn-danger" type="button">Supprimer</button></a></td>
                    </tr>
                {% endfor %}
            </table>
            <a href="{{ path("add_admin") }}"><button type="button" class="btn btn-primary add-admin">Ajouter un administrateur</button></a>
        </div>
    </div>
</div> #}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path("admin_students") }}">Tous les étudiants</a>
  </div>
</nav>

{% endblock %}
