{% extends 'base.html.twig' %}
{% block title %}Tous les étudiants{% endblock %}
{% block body %}

<style>
    .row {
        margin: 0;
    }

    ._none {
        display: none;
    }

    ._block {
        display: block;
    }

    .header {
        height: 80px;
        background-color: #c5e0e0;
        position: fixed;
        width: 100%;
    }

    .bars {
        width: 90px;
        height: 80px;
    }

    .bars:hover {
        cursor: pointer;
        background-color: rgba(188, 209, 209, 0.2);
    }

    .bars i {
        font-size: 30px;
        margin-top: 25px;
    }

    .margin-dive-content {
        transition: 0.4s;
        margin-left: 300px;
    }

    .sidebar { 
        height: 100%; 
        position: fixed;
        background-color: #055e4d;
        margin: 0;
    }

    .inside {
        transition: 0.4s;
        width: 300px;
    }

    .outside {
        width: 0;
        padding: 0;
        transition: 0.4s;
    }

    .logo img {
        height: 80px;
    }

    .profile {
        padding: 10px;
    }

    ._form .form-group {
        margin: 20px 0;
    }

    .check-toggle-password:checked {
        background-color: green;
    }

    .camera {
        position: absolute;
        margin-left: 43px;
        margin-top: 38px;
    }

    .rotate {
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .rotate.arrow-up {
        -ms-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    .dive-drop-down {
        width: auto;
        position: fixed;
        background-color: #c5e0e0;
        right: 11%;
        border-radius: 0 0 5px 5px;
    }

    .dive-drop-down ul {
        margin: 0;
        padding: 0;
    }

    .dive-drop-down li {
        list-style-type: none;
        color: #02472c;
        font-size: 20px;
        padding: 5px 30px;
    }

    .dive-drop-down li:hover {
        background-color: #e1f2eb;
        cursor: pointer;
    }

    .dive-drop-down a {
        text-decoration: none;
    }

    .btn-licence {
        background-color: #0a6b58;
        color: white;
    }

    .btn-licence:hover {
        color: white;
        background-color: #108f77;
    }

    .add-licence {
        height: 50px;
        padding: 0 20px;
        font-size: 20px;
        float: right;
    }

    .dive-table {
        width:  100%;
        overflow-x: auto;
    }

    .table {
        width: 3000px;
    }
</style>

<div class="header row">
    <div style="padding: 0;" class="menu col-sm-4">
        <div class="bars text-center">
            <i style="color: #0f5c26;" class="fas fa-bars"></i>
        </div>
    </div>
    <div class="dive-logo col-sm-3 text-center">
        <div class="logo"><a href="{{ path("home") }}"><img src="{{ asset("/images/logo.png") }}"></a></div>
    </div>
    <div class="row profile col-sm-5">
        <div style="padding: 18px 0 0 30px;" class="col-sm-9">
            <h5 style="text-align: right; color: #0f5c26;"><span class="name-profile" style="cursor: pointer;">Hassane TOIWILOU<i style="margin: 0 15px;" class="rotate rotate-profile fal fa-angle-down"></i></span></h5>
        </div>
        <div class="col-sm-3">
            <div style="width: 60px; height: 60px;">
                <i data-bs-toggle="modal" data-bs-target="#cameraModal" style="font-size: 18px;  color: rgba(7, 64, 24, 0.7); cursor: pointer;" class="fas fa-camera camera"></i>
                <div style="width: 60px; height: 60px; border: 1px solid #bcd1d1; border-radius: 50%; background-image: url('{{ asset("images/profile/_profile.png") }}'); background-repeat: no-repeat; background-size: cover;"></div>
            </div>
        </div>
    </div>
</div>
<div style="height: 80px;"></div>
<div class="dive-content">
    <div class="sidebar outside">
        
    </div>
    <div class="dive-content-right">
        <div class="dive-drop-down _none">
            <ul>
                <li data-bs-toggle="modal" data-bs-target="#profileModal">Modifier mon profil</li>
                <a href="{{ path("app_logout") }}"><li>Gérer les utilisateurs</li></a>
                <a href="{{ path("app_logout") }}"><li>Déconnexion</li></a>
            </ul>
        </div>
        <div style="padding: 20px;">
            <i style="font-size: 20px; color: #055e4d;" class="fas fa-arrow-alt-circle-right"></i>
            <span style="font-size: 25px; margin-left: 10px; color: #035747;">Titre de la page en cours</span>
            <div style="padding-top: 40px" class="row">
                <div style="padding-left: 0;" class="col-sm-9">
                    <form method="POST">
                        <div class="row">
                            <div style="padding: 0;" class="col-sm-5">
                                <input type="search" class="form-control">
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-outline-success">Rechercher</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div style="padding-right: 0;" class="col-sm-3">
                    <button class="btn btn-licence add-licence">Ajouter une licence</button>
                </div>
            </div>
            <div class="dive-table">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color: #c9c9c9;">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        </tr>
                        <tr style="background-color: #e6e6e6;">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr style="background-color: #c9c9c9;">
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        </tr>
                        <tr style="background-color: #e6e6e6;">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr style="background-color: #c9c9c9;">
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        </tr>
                        <tr style="background-color: #e6e6e6;">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr style="background-color: #c9c9c9;">
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        </tr>
                        <tr style="background-color: #e6e6e6;">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr style="background-color: #c9c9c9;">
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        </tr>
                        <tr style="background-color: #e6e6e6;">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr style="background-color: #c9c9c9;">
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        </tr>
                        <tr style="background-color: #e6e6e6;">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr style="background-color: #c9c9c9;">
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        </tr>
                        <tr style="background-color: #e6e6e6;">
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr style="background-color: #c9c9c9;">
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="_form" method="POST">
                <div style="background-color: #c5e0e0;"  class="modal-header">
                    <h5 class="modal-title" id="profileModalLabel" style="color: #02472c;">Modification du profil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="email" name="email" value="hassane.toiwilou-prestataire@cagip.fr" class="form-control">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="chech_toggle_password" class="form-check-input check-toggle-password" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Je souhaite modifier mon mot de passe</label>
                    </div>
                    <div style="display: none;" class="modal-dive-password">
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Mot de passe actuel">
                        </div>
                        <div class="form-group">
                            <input type="password" name="naw_password" class="form-control" placeholder="Nouveau mot de passe">
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirm_password" class="form-control" placeholder="Confirmez le mot de passe">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                        <button type="submit" class="btn btn-licence">Enregistrer</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="cameraModal" tabindex="-1" aria-labelledby="cameraModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="background-color: #c5e0e0;" class="modal-header">
                <h5 class="modal-title" id="cameraModalLabel"  style="color: #02472c;">Téléchargement de photo de profil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="margin: 10px 0;">Choisissez une photo pour votre profil</p>
                <input style="margin: 5px 0;" class="form-control" type="file">
                <button style="margin: 5px 0;" type="button" class="btn btn-licence">Enregistrer</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<script>
    //https://htmldom.dev/drag-to-scroll/
    var diveDropDown = document.querySelector('.dive-drop-down');
    var nameProfile = document.querySelector('.name-profile');
    var bars = document.querySelector('.bars');
    var sidebar = document.querySelector('.sidebar');
    var diveContentRight = document.querySelector('.dive-content-right');
    var dive = document.querySelector('#ma-dive');
    var rotateProfile = document.querySelector('.rotate-profile');
    var checkTogglePassword = document.querySelector('.check-toggle-password');
    var modalDivePassword = document.querySelector('.modal-dive-password');

    checkTogglePassword.addEventListener('click', function(){
        if(checkTogglePassword.checked){
            modalDivePassword.style.display = 'block';
        } else {
            modalDivePassword.style.display = 'none';
        }
    });

    window.addEventListener('click', function(e){   
        if (nameProfile.contains(e.target)){
            if(diveDropDown.classList.contains('_none')){
                diveDropDown.classList.remove('_none');
                diveDropDown.classList.add('_block');
                rotateProfile.classList.add('arrow-up');
            } else {
                diveDropDown.classList.remove('_block');
                diveDropDown.classList.add('_none');
                rotateProfile.classList.remove('arrow-up');
            }
        } else{
            diveDropDown.classList.remove('_block');
            diveDropDown.classList.add('_none');
            rotateProfile.classList.remove('arrow-up');
        }

        if (bars.contains(e.target)){
            if(sidebar.classList.contains('outside')){
                sidebar.classList.remove('outside');
                sidebar.classList.add('inside');
                diveContentRight.style.marginLeft = '300px';
                diveContentRight.style.transition = '0.4s';
            } else {
                sidebar.classList.remove('inside');
                sidebar.classList.add('outside');
                diveContentRight.style.marginLeft = '0';
                diveContentRight.style.transition = '0.4s';
            }
        } else if (!sidebar.contains(e.target)) {
            sidebar.classList.remove('inside');
            sidebar.classList.add('outside');
            diveContentRight.style.marginLeft = '0';
            diveContentRight.style.transition = '0.4s';
        }
    });
</script>

{% endblock %}